

.thumbnail{
    width:100%;
    
}


.video-title{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-preview{

}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture{
    width: 36px;
    border-radius: 50px;
}
.profile-picture-tooltip-video1 img,
.profile-picture-tooltip-video2 img,
.profile-picture-tooltip-video3 img,
.profile-picture-tooltip-video4 img,
.profile-picture-tooltip-video5 img,
.profile-picture-tooltip-video6 img,
.profile-picture-tooltip-video7 img,
.profile-picture-tooltip-video8 img,
.profile-picture-tooltip-video9 img,
.profile-picture-tooltip-video10 img,
.profile-picture-tooltip-video11 img,
.profile-picture-tooltip-video12 img{
    width:55px;
    border-radius: 50px;
}
.channel-info-tooltip-author{
    font-size: 18px;
    font-weight:700;
    margin-top: 5px;
}
.channel-info-tooltip-subcount{
    font-size: 16px;
    color: rgb(96, 96, 96);
    margin-top: 3px;
    
}
.profile-picture-container-video1,
.profile-picture-container-video2,
.profile-picture-container-video3,
.profile-picture-container-video4,
.profile-picture-container-video5,
.profile-picture-container-video6,
.profile-picture-container-video7,
.profile-picture-container-video8,
.profile-picture-container-video9,
.profile-picture-container-video10,
.profile-picture-container-video11,
.profile-picture-container-video12{
    position: relative;
}
.profile-picture-tooltip-video1,
.profile-picture-tooltip-video2,
.profile-picture-tooltip-video3,
.profile-picture-tooltip-video4,
.profile-picture-tooltip-video5,
.profile-picture-tooltip-video6,
.profile-picture-tooltip-video7,
.profile-picture-tooltip-video8,
.profile-picture-tooltip-video9,
.profile-picture-tooltip-video10,
.profile-picture-tooltip-video11,
.profile-picture-tooltip-video12{
    width: 230px;
    position: absolute;
    display:grid;
    grid-template-columns: 60px 1fr;
    column-gap: 5px;
    background-color: white;
    border-radius: 7px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 3px 10px 0.5px rgb(153, 151, 151);
    opacity:0;
    transition: opacity 0.5s;
    z-index: 100;
    
    
}
.profile-picture-container-video1:hover .profile-picture-tooltip-video1,
.profile-picture-container-video2:hover .profile-picture-tooltip-video2,
.profile-picture-container-video3:hover .profile-picture-tooltip-video3,
.profile-picture-container-video4:hover .profile-picture-tooltip-video4,
.profile-picture-container-video5:hover .profile-picture-tooltip-video5,
.profile-picture-container-video6:hover .profile-picture-tooltip-video6,
.profile-picture-container-video7:hover .profile-picture-tooltip-video7,
.profile-picture-container-video8:hover .profile-picture-tooltip-video8,
.profile-picture-container-video9:hover .profile-picture-tooltip-video9,
.profile-picture-container-video10:hover .profile-picture-tooltip-video10,
.profile-picture-container-video11:hover .profile-picture-tooltip-video11,
.profile-picture-container-video12:hover .profile-picture-tooltip-video12{
    opacity: 1;
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.video-author, .video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 4px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
@media(max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }  
}
@media(min-width:751px) and (max-width:999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }  
}
@media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .video-title{
        font-size: 16px;
        line-height: 24px;
    }
    .video-author, .video-stats{
        font-size: 14px;
    }
}

.video-time{
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 8px;
}